<%= form_tag appointment_path(@res), method: :put, remote: :true do %>
  <div class="form-group">
    <%= label_tag 'Data' %>
    <%= text_field_tag :day, '', readonly: :true, class: 'form-control', id: 'day', value: @date %>
  </div>
  <div class="form-group">
    <%= label_tag 'Hora' %>
    <%= text_field_tag :hour, '', readonly: :true, class: 'form-control', id: 'hour', value: @hour %>
  </div>
  <br>
  <div class="form-group">
    <%= label_tag 'Duração do Uso' %>
    <%= number_field_tag :duration, '', min: 1, max: @max, class: 'form-control', id: 'duration', value: @duration %>
  </div>
  <br>
  <div class="form-group">
    <%= label_tag 'Descrição' %>
    <%= text_field_tag :description, '', class: 'form-control', id: 'description', value: @description %>
  </div>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= submit_tag 'Salvar', class: 'btn btn-success'%>
<% end %>

<script>
  $("#viewModal").modal('toggle')
</script>