<div class="col-sm-12 col-lg-12">
  <table class="table table-dark">
    <thead>
      <th>Horário</th>
      <% @weekdays.each_with_index do |day, ind| %>
         <input type="hidden" id="base-date" value=<%=@dates[ind]%>>
        <th> <%= "#{day} - #{@dates[ind]}" %></th>
      <% end %>
    </thead>
    <tbody>
      <% @period.each do |hour| %>
        <tr>
          <td> <%="#{hour}"%></td>
          <td>
            <%= render partial: 'partials/calculate', locals: {num: 0, hour: hour} %>
          </td>
          <td>
            <%= render partial: 'partials/calculate', locals: {num: 1, hour: hour} %>
          </td>
          <td>
            <%= render partial: 'partials/calculate', locals: {num: 2, hour: hour} %>
          </td>
          <td>
            <%= render partial: 'partials/calculate', locals: {num: 3, hour: hour} %>
          </td>
          <td>
            <%= render partial: 'partials/calculate', locals: {num: 4, hour: hour} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

