<% if @type == 0 %>
  <%= render 'partials/navbar_admin' %>
<% else%>
  <%= render 'partials/navbar' %>
<% end %>

<div class="page-header">
  <div class="row">
    <div class="col-sm-8 col-lg-8">
      <h1>Reserva de Sala</h1>
    </div>
    <div class="col-sm-4 col-lg-4 right">
      <h4>Usuário: <%= @name %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <%= form_tag home_system_path, method: :get, remote: :true do %>
        <%= date_field_tag :new_day, value: Time.current, class: 'date-field' %>
        <%= submit_tag 'Mostrar', class: 'btn btn-success link-field' %>
      <% end %>
    </div>
  </div>
  <div class="row" id="calendar">
    <%= render partial: 'partials/table' %>
  </div>
</div>


<!-- Modal Cadastro e Edição-->
<div class="modal fade" id="cadModal" tabindex="-1" role="dialog" aria-labelledby="cadModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cadModalTitle">Reserva de Sala</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="d-form">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Visualização-->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalTitle">Visualização de Reserva</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="d-view">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
