<%= form_with(model: setting, local: true) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
        <% setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :interval %>
    <%= form.number_field :interval %>
  </div>

  <div class="field">
    <%= form.label :max_usage %>
    <%= form.text_field :max_usage %>
  </div>

  <div class="field">
    <%= form.label :initial_period %>
    <%= form.text_field :initial_period %>
  </div>

  <div class="field">
    <%= form.label :last_period %>
    <%= form.text_field :last_period %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
