<p id="notice"><%= notice %></p>

<p>
  <strong>Hour:</strong>
  <%= @appointment.hour %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @appointment.duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @appointment.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment.user_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
