<%= form_with(model: basis, local: true) do |form| %>
  <% if basis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(basis.errors.count, "error") %> prohibited this basis from being saved:</h2>

      <ul>
        <% basis.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div class="field">
    <%= form.label :use %>
    <%= form.check_box :use %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
